body {
    background-color: antiquewhite;
}

.hide {
    display: none;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    font-size: 45px;
    font-family: fantasy;
}

#weather { 
    text-align: right;
    font-family: math;
}

#todoForm,
.todoList,
#result,
.bg {
    display: flex;
    justify-content: center;
}